:root {
    --primary: #003A80;
    --primary-light: #D7E8FF;
}

/* BODY */
body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background: #ffffff;
    color: #000000;
}

/* HEADER / FOOTER */
header, footer {
    background-color: var(--primary);
    color: white;
    padding: 20px;
    text-align: center;
}

form {
    background-color: var(--primary-light);
    padding: 20px;
    border-radius: 12px;
    max-width: 550px;
    margin: 30px auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

label, legend {
    display: block;
    margin: 12px 0 5px;
    font-weight: bold;
}

select, input[type="text"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #777;
    margin-bottom: 12px;
    font-size: 15px;
}

/* RADIO */
.rating label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 3px 0;
}

/* CHECKBOX */
.checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* BUTTON */
.btn {
    width: 100%;
    padding: 12px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background: #002F66;
}

/* MEDIA QUERY*/
@media (max-width: 600px) {
    form {
        max-width: 90%;
        margin: 20px auto;
    }

    .btn {
        font-size: 16px;
        padding: 10px;
    }
}
