/* Media query for larger screens */
@media screen and (min-width: 500px) {
  header {
    background-color: #000000;
    color: #ffffff;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  footer {
    background-color: #000000;
    color: #ffffff;
  }
}
